.formContainer{
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 5px;
    border: 1px solid rgb(166, 148, 215);
    width: fit-content;
    color: rgb(70, 61, 104);
    overflow: hidden;
    padding-left: 10px;
    margin: 10px 0 ;
    
}
.browseBtn{
    background-color:rgb(219, 219, 252);
    border-left: 1px solid rgb(166, 148, 215);
    padding: 10px;
    flex: 1;
    
}
.imgContainer{
  width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(162, 162, 241, 0.5), 0 0 20px rgba(162, 162, 241, 0.5), 0 0 30px rgba(162, 162, 241, 0.5);
    margin: 30px 0;
    overflow: hidden;
}
.uploadedImg{
    width: 300px;
}